:root {
  --kolor-czerwony: rgb(202, 62, 71);
  --kolor-czerwony-hover: rgb(202, 62, 71, 30%);
  --kolor-czerwony: #CA3E47;
  --kolor-box-shadow: rgb(0, 0, 0, 25%);

}

.successfully_done {
  transition: background-size 0.4s cubic-bezier(.18, 1.38, .58, 1.39), opacity 0.2s linear;
  position: absolute;
  display: block;
  visibility: hidden;
  opacity: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  backdrop-filter: blur(0px);
  background: url("img/confirmBird.svg") center no-repeat;
  background-size: 0px 0px;
  z-index: 100;
}

.successfully_done.show {
  visibility: visible;
  opacity: 1;
  backdrop-filter: blur(5px);
  background-size: 200px 200px;
  z-index: 100;
}

.successfully_done.show span {
  color: rgb(0, 0, 0, 85%);
  text-shadow: 0px 1px 2px white;
  position: absolute;
  width: calc(100% - 20px);
  margin-top: 350px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.successfully_done span {
  font-size: 30px;
}

.ErrorBar {}

.ErrorBar>div {
  display: flex;
  background-color: var(--kolor-czerwony);
  color: #f8f8f8;
  margin-left: -8px;
  margin-right: -8px;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
  font-size: 18px;
  line-height: 30px;
  font-family: 'Lato';
  border-bottom: 2px solid var(--kolor-box-shadow);
  box-shadow: 0px 1px 2px var(--kolor-box-shadow);
}

/*++++++++++++++++++++++++++++++++++++++++++pattern/wszystkie strony(navbar,footer)++++++++++++++++++++++++++++++++++++++++++*/
.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.width100 {
  width: 100%;
}

.widthAuto {
  width: auto;
}

.inlineblock {
  display: inline-block;
}

.displayFlex {
  display: flex;
}

.flexWrap {
  flex-wrap: wrap;
}


.marginCenter {
  margin-left: auto;
  margin-right: auto;
}

.container{

  position: relative;
  min-height:calc(100vh - 50px) ;  
}

.section1{
  display: block;
  position: relative;
  width: 100%;
  min-height: 500px;
  background-color: rgb(202, 62, 71, 30%);
}


.shopBold {
  font-weight: bold;
  font-size: 18px;
}

.shopContent__container {
  width: 850px;
  height: auto;
}

.shopFilters__container {
  width: 260px;
  display: flex;
  margin-right: 60px;
  flex-wrap: wrap;
}

.shopFilters__dropdown--button{
  width: 100%;
  height: 40px;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: var(--kolor-czerwony);
  color: #f8f8f8;
  cursor: pointer;
  user-select: none;
}


.shopFilters_priceRange__container {
  display: flex;
  flex-wrap: wrap;

}


.priceRangeBox {
  display: flex;
  margin-left: 20px;
  width: 90px;
  height: 26px;
}

.priceRangeBox--input {
  display: block;

  padding-right: 22px;
  padding-left: 5px;
  border: solid #212121 2px;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.priceFrom:before {
  display: block;
  position: absolute;
  content: "od";
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0 0 -18px;
  width: 10px;
  height: 10px;
}

.priceTo:before {
  display: block;
  position: absolute;
  content: "do";
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0 0 -18px;
  width: 10px;
  height: 10px;
}


.priceRangeBox:after {
  display: block;
  position: absolute;
  content: "";
  background-image: url("img/lineRangeBox.svg");
  margin: 0px 0 0 68px;
  width: 15px;
  height: 30px;
}



.shopFilters_subcategory__container>p {
  margin-block-end: 0px;
  font-size: 16px;
}

.shopItems__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 1rem;


}

.shopItem__box {
  display: flex;  
  position: relative;
  overflow: hidden;
  flex-flow: column wrap;
  padding-bottom: 50px;
  height: auto;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 10px;
  cursor: pointer;
  align-content: space-around;

}

.shopItem__box:hover {
  box-shadow: 2px 2px 4px -2px var(--kolor-box-shadow);
}

.shopItem__Image {
  display: flex;
  position: relative;
  background-color: rgb(196, 196, 196, 30%);
  height: 200px;
  justify-content: center;
}

.shopItem--header {
  line-height: 18px;
  font-size: 16px;
  width: calc(100% - 10px);
  float: left;
  height: 36px;
  margin-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 4px;
  margin-block-end: 9px;
}

.shopItem--attribute {
  display: block;
  width: calc(100% - 20px);
  float: left;
  margin:0 10px 0px 10px;
  height: 16px;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  color: #8C8C8C;
  font-size: 12px;
  line-height: 16px;
}

.shopItem__priceContainer {
  display: flex;
  position: absolute;
  width: calc(100% - 20px);
  bottom: 0;
  justify-content: space-between;
  height: 35px;
  padding: 0 10px 0 10px;
}

.shopItem_price {
  color: #212121;
  font-size: 28px;
  line-height: 28px;
}

.shopItem_button {
  transition: 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  height: 40px;
  width: 40px;
  background-color: rgb(0, 0, 0, 5%);
  border-radius: 100%;
  margin-top: 50px;
  transform: rotate3d(1,0,0,-30deg);
}

.shopItem__box:hover .shopItem_button {
  box-shadow: 0px 0px 3px 0px var(--kolor-box-shadow);
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: -10px;
  transform: rotate3d(1,0,0,0deg)
}

.shopItem_button::after {
  margin-top: -38px;
  margin-left: -2px;
  position: relative;
  z-index: 0;
  background: url("img/CartSketch.svg") no-repeat center;
  content: "";
  background-size: 25px;
  display: block;
  height: 100%;
}
.shopItem_button:hover:after {
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  background: url("img/CartSketchInverted.svg") no-repeat center;
  background-size: 25px;
}


.shopItem_button::before {
  transform-origin: center;
  content: "";
  display: block;
  border-radius: 50px;
  height: 100%;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #81B214;
  transform: scale(0,0);

}

.shopItem_button:hover:before {
  transform: scale(1,1);
}

.shopFilters__fieldset {
  
}


.shopFilters__fieldset--header {
  margin: 12px 0 0 0px;
}

.shopFilters__box {
  height: auto;
  border: #C4C4C4 1px solid;
  border-radius: 5px;
  padding-bottom: 10px;

}

.barSorting__container {
  display: Flex;
  align-items: center;

}

.barSorting__container>p {
  display: Flex;
  align-items: center;
  margin-right: 5px;
}

.barSorting {
  display: block;
  z-index: 4;
  user-select: none;
  position: relative;
  width: 150px;
  height: 26px;
  border: #212121 2px solid;
  border-radius: 20px;

}

.barSorting>span {
  z-index: 4;
  display: flex;
  position: relative;
  user-select: none;
  line-height: 18px;
  margin-top: -28px;
  margin-left: 6px;
  line-height: 28px;
  font-size: 16px;
}

.barSorting:before {
  display: block;
  content: "";
  position: relative;
  z-index: 4;
  background-image: url("img/ArrowDownCategories.svg");
  background-repeat: no-repeat;
  background-position: 10px 5px;
  margin: -5px 0px 0px 115px;
  height: 31px;
  width: 30px;
}

.barSorting.show:before {
  transform: rotate(180deg);
}

.barPaginator {
  width: 135px;
  height: 30px;
  border: #212121 2px solid;
  border-radius: 20px;
}

.barPaginator>p {
  line-height: 30px;
}

.shopItemsList {
  position: absolute;
  width: 150px;
  border: #212121 2px solid;
  border-top: none;
  margin-top: -15px;
  padding-top: 15px;
  z-index: 3;
  background-color: #F8F8F8;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;

}


.dropdown-menu.show {
  display: block;
}

.shopItemsList .dropdown-item {
  padding-left: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 16px;
}

.dropdown-item {
  display: flex;
}



.barPaginator::after,
.barPaginator:before {
  display: flex;
  position: absolute;
  content: "";
  background-image: url('img/PaginatorRight.svg');
  background-repeat: no-repeat;
  background-position: 11px 8px;
  height: 30px;
  width: 30px;
  margin: -2px 0px 0px 103px;
  border: solid 2px #212121;
  border-radius: 20px;
}

.barPaginator::before {
  background-image: url('img/PaginatorLeft.svg');
  background-position: 7px 8px;
  margin: -2px 0px 0px -2px;
}

.shopDisplaySettingsBar {
  display: flex;
  height: 50px;
  background-color: #F8F8F8;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 35px;
}

.shopDisplaySettingsBar:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #C4C4C4;
  width: 900px;
  margin-left: -25px;
  height: 1px;
  margin-bottom: 50px;
  box-shadow: 0px -2px 4px 0px var(--kolor-box-shadow);
}

.shopDisplaySettingsBar:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #C4C4C4;
  width: 900px;
  height: 1px;
  margin-left: -25px;
  margin-bottom: -50px;
  box-shadow: 0px 2px 4px 0px var(--kolor-box-shadow);
}


.shopDisplaySettingsBar--item p {
  margin-block-end: 0em;

}

.shopDisplaySettingsBar--item {
  flex-wrap: nowrap;
  flex-flow: row;
}

.shopSearchResult__container {
  width: 1200px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.shopSearchResult {
  font-size: 24px;
}



.dropdown-account.show {
  display: block;
}

.dropdown-account {
  padding-top: 5px;
  display: none;
  position: absolute;
  background-color: #F8F8F8;
  min-width: 200px;
  top: 50px;
  right: 0px;
  z-index: 0;
  box-shadow: -2px 4px 4px 0px var(--kolor-box-shadow);
}

.dropdown-account>.dropdown-item {
  font-size: 20px;
  font-size: 18px;
  font-weight: normal;
  padding-left: 14px;
  width: calc(100% - 63px);
  position: relative;
  z-index: 2;
  line-height: 30px;

}

.dropdown-account>.dropdown-item:hover {
  background-color: var(--kolor-czerwony-hover);
}

.dropdown-account .dropdown-item:hover:before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 100%;
  left: 0px;
  background: var(--kolor-czerwony);
  margin-bottom: 30px;
}

.dropdown-account>.dropdown-item:after{
  height: 100%;
}

.AdminPanelSketch:after{

  content: "";
  transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: absolute;
  background: url("img/adminPanelSketch1.svg") no-repeat center;
  width: 38px;
  background-size: 20px 20px;
  margin-left: 138px;
}
.AdminPanelSketch:hover:after {
  background: url("img/adminPanelSketch2.svg") no-repeat center;
  background-size: 26px 26px;
}

.Myaccount:after {
  content: "";
  transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: absolute;
  background: url("img/MyAccountSketch.svg") no-repeat center;
  width: 38px;
  background-size: 20px 20px;
  margin-left: 138px;
}

.Myaccount:hover:after {
  background: url("img/MyAccountSketchHover.svg") no-repeat center;
  background-size: 26px 26px;
}

.settingsGear:after {
  content: "";
  transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: absolute;
  background: url("img/settingsGear.svg") no-repeat center;
  width: 38px;
  background-size: 20px 20px;
  margin-left: 138px;
}

.settingsGear:hover:after {
  transform: rotate(160deg);
  background-size: 26px 26px;
}

.LogOutSketch {
  cursor: pointer;
}

.LogOutSketch:after {
  content: "";
  transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: absolute;
  background: url("img/LogOutSketch.svg") no-repeat center;
  width: 38px;
  background-size: 20px 20px;
  margin-left: 138px;
}

.LogOutSketch:hover:after {
  background: url("img/LogOutSketchHover.svg") no-repeat center;
  background-size: 26px 26px;
}





.account-header {
  display: flex;
  font-weight: bold;
  padding-left: 14px;
  width: 130px;
}


.account-header>p {
  margin: none;
  font-size: 20px;
  line-height: 30px;
  width: 130px;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.account-header:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 25px;
  margin-top: 2px;
}

.profile_avatar {
  cursor: pointer;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 10px;
  box-shadow: 0px 1px 4px 0px var(--kolor-box-shadow);
  z-index: 21;
  position: relative;
}

.accountDropdownIcon {
  padding-left: 5px;
  padding-right: 5px;
}

.account_SketchBar {
  display: flex;
  position: absolute;
  z-index: 1;
  height: calc(100% - 35px);
  width: 38px;
  bottom: 0;
  right: 10px;
  background-color: #E5E5E5;
  box-shadow: 0px 0px 3px 0px var(--kolor-box-shadow);
  padding-top: 60px;
  flex-wrap: wrap;


}

.Sketch_container {
  display: flex;
  position: relative;
  height: 30px;
  width: 40px;
  align-items: center;
  justify-content: center;
}


.Settings__container {
  position: fixed;
  left: 0;
  width: 300px;
  height: 100%;
  box-shadow: 0px 0px 3px 0px var(--kolor-box-shadow);

}

.SettingsHeader__container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100px;
  text-align: center;
  justify-content : center;
  align-items: center;

}

.SettingsHeader { 
  font-size: 36px;
  font-weight: bold;
  color: var(--kolor-czerwony);
}

.SettingsHeader:first-letter {
  color: #212121;
}

.SettingsOptions__container {}

.SettingsOption {
  user-select: none;
}
.SettingsOption > .SettingsOption--option{
  transition: visibility,height .2s cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  height: 0;  
}
.SettingsOption.active > .SettingsOption--option{
  transition: ;
  visibility: visible;
  height: auto;  
}


.SettingsOption--header{
  background-color: rgb(49, 49, 49,10%);
  cursor: pointer;
  position: relative;
  line-height: 45px;
  font-size: 20px;
  font-weight: bold;
  padding-left: 15px;

}
.SettingsOption--option{
  color: #313131;
  display: flex;
  font-size: 16px;
  background-color: rgb(49, 49, 49,5%);
  padding-left: 15px;
  line-height: 25px;
}
.SettingsOption--option:hover{
  color:rgb(0, 0, 0,50%);
}

.SettingsOption > .SettingsOption--header:hover,
.SettingsOption.active > .SettingsOption--header {
  background-color: rgb(49, 49, 49,15%);
}

.SettingsOption>.SettingsOption--header:hover:before,
.SettingsOption.active > .SettingsOption--header:before {

  
  display: block;
  content: "";
  position: absolute;
  width: 7px;
  height: 100%;
  left: 0px;
  background-color: var(--kolor-czerwony);
}




.loader-container {
  margin-left: auto;
  margin-right: auto;
  height: 80vh;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  visibility: visible;

}

.loader-container p::after {
  animation: load-dots 3s linear infinite;
  content: "";

}

.loader-container p {
  align-self: flex-start;
  margin-top: 10px;
}

@keyframes load {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes load-dots {
  0% {
    content: ". "
  }

  33% {
    content: ".."
  }

  66% {
    content: "..."
  }

  100% {
    content: "."
  }
}

.loader {
  border: 10px var(--kolor-czerwony) solid;
  border-top: 10px solid #333333;
  height: 100px;
  width: 100px;
  background-color: #F8F8F8;
  border-radius: 50%;
  box-shadow: 0px 0px 20px var(--kolor-box-shadow);
  animation: load 1.5s cubic-bezier(0.35, 0.63, 0.68, 0.19) infinite;
  display: flex;
  align-self: flex-end;

}


.error {
  color: var(--kolor-czerwony);
  font-size: large;
  font-weight: bold;
}

.strzalka::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--kolor-czerwony);
}

label {
  margin-bottom: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #F8F8F8;
  text-rendering: optimizeLegibility;
  visibility: hidden;
  margin: 50px 0px 0 0;
}

input {

  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textfield;
  font: inherit;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  padding: 0px 0px;
  border-width: 0px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}


span {
  font-family: 'Lato', sans-serif;
}

a {
  margin-block-end: 0em;
  margin-block-start: 0em;
  text-decoration: none;
  color: inherit;
}

p {

  margin-block-end: 0em;
  margin-block-start: 0em;
  text-decoration: none;
}

.header {
  font-size: 48px;
  font-weight: 700;
  width: auto;
}

.inlineblock {
  display: inline-block;
}

.header_container {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.container-fluid {
  position: relative;
  width: calc(100% - 30px);
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

/* Customize the label (the container) */
label.checkmark_container {
  display: flex;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 0 5px 0;
}

/* Hide the browser's default checkbox */
.checkmark_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0%;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: white;
  border: 2px solid #212121;
  border-radius: 2px;

}

/* On mouse-over, add a grey background color */
.checkmark_container:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkmark_container input:checked~.checkmark {
  background: white url(img/checked.svg) no-repeat;
  background-origin: content-box;
  background-position: center;
  background-size: 15px;
}

/* Create the checkmark/indicator (hidden when not checked) */

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {}

.pasek {

  display: flex;
  position: fixed;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
  z-index: 19;
  top: 0;
  left: 0;
  height: 50px;
  background-color: #F8F8F8;
  box-shadow: 0px 1px 4px var(--kolor-box-shadow);
  padding: 0px;
  user-select: none;
}

.pasek_zawartość {
  width: 100%;
  display: flex;
  height: 35px;
}

.nawigacja {
  display: flex;
  cursor: pointer;
  font-size: 20px;
  line-height: 25px;
}

.nawigacja_telefon {
  font-size: 25px;
  cursor: pointer;
  display: none;

}

.wyszukiwarka_pudelko {
  display: flex;
  position: relative;
  height: 34px;
  margin: 0px;
}

.wyszukiwarka_patyk {
  position: relative;
  width: 335px;
  height: 100%;
  background-color: #8C8C8C;
  border-radius: 34px;
  color: white;
  border: none;
  z-index: 12;
}

.wyszukiwarka_input {
  z-index: 10;
  background-color: transparent;
  border: none;
  color: #F8F8F8;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 10px;
  width: 320px;
  height: 26px;
  font-size: 15px;
  font-family: 'Lato', sans-serif;

}

.wyszukiwarka_input::placeholder {
  color: #F8F8F8;
}

.wyszukiwarka_potwierdz {
  position: relative;
  background-color: #C4C4C4;
  left: -17px;
  padding-left: 15px;
  z-index: 11;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
}

.potwierdz {
  height: 100%;
  width: 36px;
  border-radius: 17px;
  padding-top: 3px;
  background-color: #C4C4C4;
  border: none;
  z-index: 11;
}

.lupa {
  width: 20px;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.img_logo {
  height: 50px;
  display: flex;
  cursor: pointer;
}

.d-block {
  object-fit: cover;
  height: 500px;
}

.navbarItem {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  margin: 5px;
}

.navbar_rejestracja {
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-right: 5px;
  cursor: pointer;

}

.navbar_logowanie {
  font-weight: bold;
  display: flex;
  border: 2px solid black;
  border-radius: 18px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  transition: 0.1s cubic-bezier(0.02, 0.9, 1, 0.2);
  margin-right: 10px;

}

.navbar_konto {
  display: flex;
  margin-left: 20px;
  width: auto;
}

.vector {
  margin-right: 5px;
  height: 15px;
}

.tworcy {
  position: relative;
  z-index: 20;
}

.tworcy:hover,
.logowanie:hover,
.kategorie:hover,
.navbar_rejestracja:hover,
.navbar_logowanie:hover,
.img_logo:hover {
  color: var(--kolor-czerwony);
}

.NavDropdown-menu {
  margin-top: 45px;
  display: none;
  overflow: hidden;
}

.NavDropdown-menu .dropdown-item {
  padding-left: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;

}

.NavDropdown-menu.show {
  max-height: 1000px;
  border: 1px #C4C4C4 solid;
  border-top: none;
  margin-top: 12px;
  box-shadow: 0px 4px 4px var(--kolor-box-shadow);
  z-index: 0;
  background-color: #F8F8F8;
  height: auto;
}


.footer {
  background-color: var(--kolor-czerwony);
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
}

.footer_paragraf {
  font-size: 20px;
  color: #F8F8F8;
}

.footer_item {}

.footer_title {
  font-size: 36px;
  color: #F8F8F8;
  margin-bottom: 0px;
}

.footer ul {
  list-style-type: none;
  padding-left: 10px;
  padding-right: 40px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #F8F8F8;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/*------------------------------------------koniec pattern/wszystkie strony(navbar,footer)*/
/*++++++++++++++++++++++++++++++++++++++++++główna++++++++++++++++++++++++++++++++++++++++++*/
#karuzela {
  box-shadow: 0px 4px 4px var(--kolor-box-shadow);
}

.slider-vector {
  border-radius: 2px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background-color: black;
  z-index: 19;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: no-repeat 50% / 100% 100%;
}

.wpisy {
  display: flex;
  padding-bottom: 24px;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 70px;
}

.post {
  overflow-y: hidden;
  margin-top: 65px;
  padding-left: 0px;
  padding-right: 0px;
}

.post_content_containter {}

.post_thumbnail_containter {
  padding-right: 0;

}

.post_title_container {}

.post_thumbnail {
  width: 100%;
}

.post_title {
  font-size: 25px;
  font-weight: 700;
}

.post_title:hover {
  text-decoration: underline;
}

.post_signature {
  margin-bottom: 10px;
}

.post_description {
  font-family: 'Open Sans', sans-serif;
}

.last_photos {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: 10%;
}

.photo_containter {
  display: flex;
}

.photo_item {
  object-fit: cover;
  padding: 10px;
}

/*------------------------------------------koniec główna*/
/*++++++++++++++++++++++++++++++++++++++++++logowanie/rejestracja++++++++++++++++++++++++++++++++++++++++++*/



.logowanie_container {
  transition: 0.1s cubic-bezier(0.02, 0.9, 1, 0.2);
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  background-color: white;
  box-shadow: 5px 5px 10px -8px var(--kolor-box-shadow);
  margin-top: 100px;
  -webkit-box-align: center;
  align-items: center;
  padding-bottom: 20px;
}


.logowanie_container input:focus {}

.logowanie_container input {
  transition: 0.1s cubic-bezier(0.02, 0.9, 1, 0.2);
}

.form_register,
.form_login,
.form_forgot_password,
.form_change_password {
  width: 500px;
}




.remember_me {
  margin-top: 25px;
  font-weight: 700;
}

.input_login,
.input_password,
.input_email {
  display: block;
  position: relative;
  height: 50px;
  background: rgb(0, 0, 0, 5%);
  box-sizing: border-box;
  padding-left: 10px;
}

.input_login::placeholder,
.input_password::placeholder,
.input_email::placeholder {
  font-size: 16px;
}

.input_login:valid,
.input_password:valid,
.input_email:valid {
  background-color: rgb(129, 178, 20, 30%)
}




.RegisterErrorTooltip li {


  font-size: 17px;
  line-height: 25px;
  color: var(--kolor-czerwony);
  background-color: white;

}

.RegisterErrorTooltip {
  padding-inline-start: 20px;
  display: block;
  position: relative;

}

.loginError,
.emailError,
.passwordError,
.password_checkError {
  color: var(--kolor-czerwony);
  line-height: 20px;
  font-weight: bold;
  width: 100%;

}


.input_submit {
  position: relative;
  z-index: 1;
  transition: 0.1s all ease-in;
  cursor: pointer;
  height: 70px;
  border-radius: 50px;
  font-size: 48px;
  text-align: center;
  line-height: 58px;
  color: var(--kolor-czerwony);
  background: transparent;
}

.input_submit:hover {
  color: #f2f2f2;

}
.submit:after {
  transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: bottom;
  display: block;
  z-index: 0;
  content: "";
  position: absolute;
  transform: scale(1,0.05);
  width: 100%;
  height: 70px;
  left: 0px;
  background: var(--kolor-czerwony);
}
.submit:hover:after {
  transition: all .1s cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  z-index: 0;
  content: "";
  position: absolute;
  transform: scale(1,1);
  background: var(--kolor-czerwony);
}



.login,
.email,
.password,
.password_check,
.submit {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-top: 5px;
}

.submit {
  margin-top: 20px;
}

.login>span,
.email>span,
.password>span,
.password_check>span {
  font-weight: 700;
  font-size: 20px;
}

.password--forgot_password {
  font-size: 13px;
  float: right;
  line-height: 20px;
  color: rgb(0, 0, 0, 70%)
}

.login,
.email,
.password,
.password_check {
  font-size: 18px;
}

.alternative {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.login_box {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;

}

.login_box:first-child {
  margin-right: 20px;
}

.login_box:last-child {
  margin-left: 20px;
}

.facebook_box {
  background-color: #4267B2;
}

.google_box {
  background: #F8F8F8;
}

.twitter_box {
  background: #1DA1F2;
}

.facebook_img {
  height: 45px;
  margin-top: auto;
  margin-bottom: auto;
}

.google_img {
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
}

.twitter_img {
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
}

.registration_reminder {
  text-align: center;
}

.registration_reminder a {
  text-decoration: underline;
}

/*------------------------------------------koniec logowanie/rejestracja*/
/*++++++++++++++++++++++++++++++++++++++++++cms++++++++++++++++++++++++++++++++++++++++++*/
.CMS_editingPart,
.CMS_managementPart {
  margin-top: 50px;
}

.CMS_editingPart_address {
  font-weight: 700;
}

.CMS_editingPart_title_container input {
  line-height: 4vh;
}

.CMS_editingPart_main textarea {
  height: 500px;
  flex-wrap: wrap;
  resize: none;
}

.CMS_editingPart_title_container {
  margin-bottom: 20px;
}

.CMS_editingPart_main_tools {
  background-color: #F2F2F2;
  height: 30px;
  border: 1px solid rgb(169, 169, 169);
  border-bottom: none;
}

.CMS_editingPart_main_tools_list {
  display: flex;
  padding-inline-start: 0px;
}

.CMS_editingPart_main_tools_list li {
  margin-left: 10px;
  display: block;
  cursor: pointer;
}

.CMS_editingPart_main_tools_list img {
  height: 20px;
}

.CMS_managementPart_publikacja_container>span,
.CMS_managementPart_kategoria_container>span,
.CMS_managementPart_tag_container>span {
  font-size: 24px;
  color: 313131;
}

.CMS_managementPart_publikacja,
.CMS_managementPart_kategoria_box {
  background-color: white;

  border: 1px solid #5F5F5F;
}

.CMS_managementPart_publikacja_status *,
.CMS_managementPart_publikacja_data_publikacji *,
.CMS_managementPart_publikacja_dostepnosc * {
  margin-right: 2px;
}

.CMS_managementPart_publikacja a:link {
  text-decoration: underline;
  color: var(--kolor-czerwony);
}

.CMS_managementPart_kategoria_container .nav-pills .nav-link {
  border-radius: 0px;
  background-color: #DFDFDF;
  color: #313131;
  padding: 8px 8px 8px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.CMS_managementPart_kategoria_container .nav-pills .nav-item:nth-child(1) {
  width: 40%;
}

.CMS_managementPart_kategoria_container .nav-pills .nav-item:nth-child(2) {
  width: 60%;
}

.CMS_managementPart_kategoria_container .nav-pills .nav-link.active {
  background-color: white;
}

.CMS_managementPart_kategoria_box .tab-content {
  padding: 0px 5px 5px 5px;
  height: 125px;
  overflow-y: auto;
}

.CMS_managementPart_tag_box {
  display: flex;
  min-height: 100px;
}

.CMS_managementPart_publikacja .card {
  padding: 5px;
}

/*------------------------------------------koniec cms*/
/*++++++++++++++++++++++++++++++++++++++++++konto++++++++++++++++++++++++++++++++++++++++++*/
.account-background {
  background-image: url('img/moscow_landscape.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 350px;
  background-position: center;
  background-size: cover;
}

.profile_pic_container>span {
  width: 130px;
  height: 130px;
  display: inline-block;
  background: url('img/profile_pic.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 5px solid #F8f8f8;
}

.profile_pic_container>button {
  float: right;
  margin-top: 80px;
  background-color: var(--kolor-czerwony);
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 25px;
}

.profile_pic_container>button {
  position: absolute;
  right: 10px;
  background-color: var(--kolor-czerwony);
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  color: #f8f8f8;
  font-size: 22px;
  font-family: 'Lato', sans-serif;
  box-shadow: 0px 4px 4px var(--kolor-box-shadow);
}

.profile_pic_container>button:hover {
  background-color: #e0464b;
}

.profile_pic_container>button:active {
  background-color: #e0464b;
  box-shadow: none;

}

.profile_pic_container {
  margin-top: -65px;
  text-align: center;
}

.social_container {
  margin-bottom: 50px;
}

.social_container>span:nth-child(1) {
  display: table;
  margin: 0 auto;
  font-size: 30px;
}

.social_number_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.social_number_container>div:nth-child(2) {
  margin-left: 15px;
  margin-right: 15px;
}

.social_number_container span:nth-child(1) {
  font-weight: 700;
}

.account_photos_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.account_photos_container img {
  max-height: 100%;
  width: 100%;
  margin-bottom: 2%;
  ;
}

.account_photos_container div {
  padding-left: 0.4%;
  padding-right: 0.4%;
}

/*------------------------------------------koniec konto*/

@media only screen and (max-width:1200px) {

  .shopFiltersDropdown{
    display: none;
    height: 0px;
    overflow: hidden;
  }
  .shopFiltersDropdown.show{
    height: auto;
  }

  .shopContent__container {
    margin-left: auto;
    margin-right: auto;
  }
  .shopSearchResult__container{
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }

  .shopItem_button {
    box-shadow: 0px 0px 3px 0px var(--kolor-box-shadow);
    margin-top: -10px;
    transform: rotate3d(1,0,0,0deg)
    
  }

  .shopFilters__container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 850px;
  }
  .shopFilters__dropdown--button{
    display: flex;
  }


  .shopFilters__box{
    border: none;
  }

  .shopDisplaySettingsBar:after{
    width: 100%;
    margin-left: 0;
    margin-top: 0px;
    margin-bottom: 2px;
    position: relative;
  }
  .shopDisplaySettingsBar:before{
    position: relative;
    width: 100%;
    margin-left: 0;
    margin-top: 0px;
    margin-bottom: 7px;
    
  }

  .shopDisplaySettingsBar {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
  }


  .shopDisplaySettingsBar--item{
    padding-bottom: 5px;
  }

}

@media only screen and (max-width:850px) {
  .shopContent__container {
    width: 100%;
  }
}



/*++++++++++++++++++++++++++++++++++++++++++===========responsywność col-lg===========++++++++++++++++++++++++++++++++++++++++++*/
@media only screen and (max-width: 991px) {
  /*++++pattern/wszystkie strony(navbar,footer)++++*/

  .navbar_konto {
    margin-left: -5px;
  }

  .navbar_logowanie {
    font-size: 18px;
  }

  .nawigacja_telefon {
    display: inline-block;
    margin-right: 8px;
  }

  .inlineblock {
    display: inline-block;
  }

  .header {
    font-size: 40px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .wyszukiwarka_patyk {
    width: 300px;
  }

  .wyszukiwarka_input {
    width: 285px;
  }

  .wyszukiwarka_pudelko {
    margin-left: auto;
  }

  .lgDisplayNone {
    display: none;
  }

  /*----koniec pattern/wszystkie strony(navbar,footer)*/
  /*++++główna++++*/
  .wpisy {
    margin-top: 100px;
  }

  /*----koniec główna*/
  /*++++logowanie/rejestracja++++*/

  /*----koniec logowanie/rejestracja*/
  /*++++cms++++*/
  .CMS_editingPart,
  .CMS_managementPart {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .CMS_managementPart {
    margin-bottom: 50px;
  }

  /*----koniec cms*/
  /*++++konto++++*/
  .CMS_editingPart,
  .CMS_managementPart {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .CMS_managementPart {
    margin-bottom: 50px;
  }

  /*----koniec konto*/

}

@media only screen and (max-width: 1000px) {}



/*------------------------------------------koniec responsywność col-lg*/
/*++++++++++++++++++++++++++++++++++++++++++responsywność col-sm++++++++++++++++++++++++++++++++++++++++++*/
@media only screen and (max-width: 575px) {

  /*++++pattern/wszystkie strony(navbar,footer)++++*/
  .navbar_logowanie {
    display: none;
  }
  .shopDisplaySettingsBar {
    justify-content: center;
    height: 150px;
    align-content: space-around;
  }
  .shopDisplaySettingsBar--item {
    width: 100%;
    justify-content: center;
    display: flex;
  }
  

  .footer ul {
    padding-left: 10px;
    padding-right: 0px;
  }

  .wyszukiwarka_patyk {
    width: 150px;
  }

  .wyszukiwarka_input {
    width: 135px;
  }

  .navbar_konto {
    margin-left: 0px;
  }

  /*----koniec pattern/wszystkie strony(navbar,footer)*/
  /*++++główna++++*/
  .smDisplayNone {
    visibility: hidden;
    display: none;
  }

  .wpisy {
    margin-top: 50px;
  }

  /*----koniec główna*/
  /*++++logowanie/rejestracja++++*/

  .logowanie_container {

    border-radius: 0px;
    height: auto;
    width: 100%;
    margin-top: 0px;
  }

  .form_register,
  .form_login,
  .form_forgot_password,
  .form_change_password {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }


  .logowanie_container>.input_submit {
    font-size: 32px;
  }

}

/*------------------------------------------koniec responsywność col-sm*/
/*++++++++++++++++++++++++++++++++++++++++++wysuwany pasek++++++++++++++++++++++++++++++++++++++++++*/
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  /*------------------------------------------koniec wysuwany pasek*/
}

@media only screen and (max-width: 350px) {

  .wyszukiwarka_pudelko {
    display: none;
  }

}